<div class="row posts">
 <div itemtype="http://schema.org/Person" itemscope="" class="column one-fourth vcard">
  <a href="/about"><img src="/assets/ibnuabas.jpg" /></a>
  <h1 class="vcard-names">
   <span itemprop="name" class="vcard-fullname">Ibnu Abas</span>
   <span itemprop="additionalName" class="vcard-username">ibnuabas</span>
  </h1>
  <ul class="vcard-details">
   <li title="Pay My Coffee" itemprop="worksFor" class="vcard-detail"><span class="octicon octicon-organization"></span>Pay My Coffee</li>
   <li title="Jakarta, Indonesia" itemprop="homeLocation" class="vcard-detail"><span class="octicon octicon-location"></span>Jakarta, Indonesia</li>
   <li class="vcard-detail"><span class="octicon octicon-mail"></span><a href="mailto:me@ibnuabas.com" class="email">me@ibnuabas.com</a></li>
   <li itemprop="url" class="vcard-detail"><span class="octicon octicon-link"></span><a rel="nofollow me" class="url" href="http://www.ibnuabas.com">http://www.ibnuabas.com</a></li>
   <li class="vcard-detail"><span class="octicon octicon-clock"></span><span class="join-label">Joined on </span><time year="numeric" month="short" is="local-time" day="numeric" datetime="2013-03-03T12:45:02Z" class="join-date">Mar 3, 2013</time></li>
  </ul>
  <div class="vcard-stats">
   <a href="/ibnuabas/followers" class="vcard-stat">
    <strong class="vcard-stat-count">0</strong>
    <span class="text-muted">Followers</span>
   </a>
   <a href="/stars" class="vcard-stat">
    <strong class="vcard-stat-count">0</strong>
    <span class="text-muted">Starred</span>
   </a>
   <a href="/ibnuabas/following" class="vcard-stat">
    <strong class="vcard-stat-count">0</strong>
    <span class="text-muted">Following</span>
   </a>
  </div>
 </div>
</div>
<div class="row posts">
 <h3>Recents Posts</h3>
 <ul>
  {% for post in site.posts limit:5 %}<li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
 </ul>
</div>
<div class="row posts">
 <h3>Categories</h3>
 <ul>
  {% for category in site.categories %}<li><a href="/category/{{ category[0] }}">{{ category[0] }}</a></li>{% endfor %}
 </ul>
</div>
<div class="row posts">
 <h3>Tags</h3>
 <ul>
  {% for tag in site.tags %}<li><a href="/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>{% endfor %}
 </ul>
</div>
