<div class="row posts" itemtype="http://schema.org/Person" itemscope="">
 <div class="col info">
  <a href="/about"><img src="/assets/ibnuabas.jpg" /></a>
  <h1>
   <span itemprop="name">Ibnu Abas</span>
   <span itemprop="additionalName">ibnuabas</span>
  </h1>
 </div>
 <div class="col info">
  <ul>
   <li title="Pay My Coffee" itemprop="worksFor">Pay My Coffee</li>
   <li title="Jakarta, Indonesia" itemprop="homeLocation">Jakarta, Indonesia</li>
   <li><a href="mailto:ibnu@abas.ga">ibnu@abas.GA</a></li>
   <li itemprop="url"><a rel="nofollow me" href="http://ibnu.abas.ga">http://ibnu.abas.ga</a></li>
  </ul>
 </div>
</div>
<div class="row posts">
 <h3>Recents Posts</h3>
 <ul>
  {% for post in site.posts limit:5 %}<li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
 </ul>
</div>
<!--div class="row posts">
 <h3>Categories</h3>
 <ul>
  {% for category in site.categories %}<li><a href="/category/{{ category[0] }}">{{ category[0] }}</a></li>{% endfor %}
 </ul>
</div>
<div class="row posts">
 <h3>Tags</h3>
 <ul>
  {% for tag in site.tags %}<li><a href="/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>{% endfor %}
 </ul>
</div-->
